<% content_for :view do %>
    <% if Settings.loop.enabled %>
        <div class="view">
            <% if @play %>
                <a href="/<%= @slug %>"><div class="icon-ios7-pause"></div></a>
            <% else %>
                <a href="/<%= @next_key %>/play"><div class="icon-ios7-play"></div></a>
            <% end %>
        </div>
    <% end %>
<% end %>

<div class="all">
    <% Settings.clients.each do |key, client| %>
        <div class="row">
            <h1><a href="/<%= key %>"><%= client.name %></a></h1>
            <% client.children.each do |key, server| %>
                <div class="pane">
                    <h2><%= server.name %> </h2>
                    <%= raw generate_embed(server.type, server.code, "800", "300") %>
                </div>
            <% end %>
            <div class="clr"></div>
        </div>
    <% end %>
</div>