<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav>
        <% Settings.clients.each do |key, settings| %>
            <%= link_to settings.name, "/#{key}" %>
        <% end %>
    </nav>
    
    <%= yield :view %>
    
    <%= yield %>

    <footer>
        <%= yield :footer %>
    </footer>

</body>
</html>
