<!DOCTYPE html>
<html>
<head>
  <title>Cardio</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
      <%= yield :script %> 
  </script>
</head>
<body>

    <nav>
        <%= yield :nav %>
    </nav>
    
    <%= yield :view %>
    
    <%= yield %>

    <%= yield :footer %>

</body>
</html>
