<!DOCTYPE html>
<html>
<head>
  <title>Cardio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
      <%= yield :script %> 
  </script>
</head>
<body>

    <nav>
        <%= yield :nav %>
    </nav>
    
    <%= yield :view %>
    
    <%= yield %>

    <%= yield :footer %>

</body>
</html>
