<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav>
        <% view_all_selected_class = "selected" if @slug == "view-all" %>
        <%= link_to "View All", "/", :class => view_all_selected_class %>
        
        <% Settings.clients.each do |key, settings| %>
        
            <% selected_class = "selected" if @slug == key.to_s %>
            <%= link_to settings.name, "/#{key}", :class => selected_class %>
            
        <% end %>
    </nav>
    
    <%= yield %>

    <%= yield :footer %>

</body>
</html>
